

ion-content{
  --ion-background-color: rgb(187,203,246) linear-gradient(90deg, rgba(187,203,246,1) 0%, rgba(162,173,253,1) 52%, rgba(134,128,248,1) 100%);
}
ion-item{
  --ion-background-color:transparent!important
}
// p{color: white;}
// h1,h2{color: white;font-weight: bold;}
.color{
  color: black;
}
.bigİcon{
  width: 300px;
  height: 300px;
}
.sunny { color: yellow;}
.derece{font-size: 80px; margin: 0;}
.ruzgarYonu{ transform: rotate(67deg);}
.list-item-time{
  font-size: 14px;
}
.liste{
  margin-top: 90px;
}

